<div class="dashboard-container">

    <!-- Sidebar -->
    <div class="sidebar">

        <h2>🏦 Bank Admin</h2>

        <a routerLink="/admindashboard" class="active">
            Dashboard
        </a>

        <a routerLink="/customers">
            Customers
        </a>

        <a routerLink="/accounts">
            Accounts
        </a>

        <a routerLink="/transactions">
            Transactions
        </a>

        <a routerLink="/transfers">
            Transfers
        </a>

        <a routerLink="/reports">
            Reports
        </a>

        <button class="logout-btn" (click)="logout()">
            Logout
        </button>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <div class="header">

            <h1>Admin Dashboard</h1>

            <p>Welcome Administrator</p>

        </div>

        <!-- Dashboard Cards -->

        <div class="cards">

            <div class="card blue">

                <h2>{{totalCustomers}}</h2>

                <p>Total Customers</p>

            </div>

            <div class="card green">

                <h2>{{totalAccounts}}</h2>

                <p>Total Accounts</p>

            </div>

            <div class="card orange">

                <h2>{{totalTransactions}}</h2>

                <p>Total Transactions</p>

            </div>

            <div class="card red">

                <h2>₹ {{totalBankBalance}}</h2>

                <p>Total Bank Balance</p>

            </div>

        </div>

        <!-- Latest Transactions -->

        <div class="table-card">

            <h2>Recent Transactions</h2>

            <table>

                <thead>

                    <tr>

                        <th>Transaction ID</th>

                        <th>Account No</th>

                        <th>Type</th>

                        <th>Amount</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let t of recentTransactions">

                        <td>{{t.transactionId}}</td>

                        <td>{{t.accountNo}}</td>

                        <td>{{t.transactionType}}</td>

                        <td>₹ {{t.amount}}</td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>